extends layout

block content
  h2 This is BycycleRental :)
  table
    for item in results
      tr
        td=item.address
        td=item.starttime
        td=item.endtime
        td
          a(href='/post?title=bicycleRental&id=' + item.ID)=item.name
