extends layout

block content
  h2 This is DriveThruRestaurant :)
  table
    for item in results
      tr
        td=item.name
        td=item.address
        td
          a(href='/post?title=driveThruRestaurant&id=' + item.ID)=item.name 
