extends layout

block content
  h2 This is Pharmacy :)
  table
    for item in results
      tr
        td=item.name
        td=item.address
        td=item.phonenumber
        td
          a(href='/post?title=pharmacy&id=' + item.ID)=item.name 
