extends layout

block content
  h2 This is Schoolzone :)
  table
    for item in results
      tr
        td=item.address
        td
          a(href='/post?title=schoolZone&id=' + item.ID)=item.name 
