extends layout

block content
  h2 This is SpeedBump :)
  table
    for item in results
      tr
        td=item.roadname
        td=item.address
        td
          a(href='/post?title='+table+'&id=' + item.ID)=item.name 
