extends layout

block content
  h2 This is Towed car storages :)
  table
    for item in results
      tr
        td=item.name
        td=item.address
        td=item.phonenumber
        td
          a(href='/post?title=towedCarStorage&id=' + item.ID)=item.name
